<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Student</title>
</head>
<body>
    <h2>회원 가입 목록 (학생 명단)</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${studentinfo}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.name}"></td>
            <td>
                <a th:href="@{/students/detail_list/{id}(id=${student.studentId})}">상세 목록보기</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/students/create">신규 학생 추가하기</a>
</body>
</html>